.github-link {
    position: fixed;
    z-index: 10;
    inset-block-end: 10px;
    inset-inline-start: 10px;
    font-family: monospace;
    text-transform: uppercase;
    color: #fff;
    mix-blend-mode: difference;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

@media screen and (width <= 1850px) {
    .github-link {
        font-size: 17px;
    }   
}

@media (width <= 1500px) {
    .github-link {
        font-size: 14px;
    }
}