.github-link {
    position: fixed;
    z-index: 10;
    inset-block-end: 10px;
    inset-inline-start: 10px;
    font-family: monospace;
    text-transform: uppercase;
    color: #fff;
    mix-blend-mode: difference;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}