.section-content__title_underline-blue::after {
    content: '';
    z-index: -1;
    position: absolute;
    display: block;
    background-image: url('./images/svg/underline-blue.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}