.section-sponsors__list-sponsors {
    display: flex;
    justify-content: space-between;
}

@media (width <= 1200px) {
    .section-sponsors__list-sponsors {
        flex-direction: column;
        gap: 10vh;
    }
}