.section-your-work__title {
    text-align: center;
}

.section-your-work__title::after {
    block-size: 23px;
    inline-size: 308px;
    inset-block-start: 59px;
    inset-inline-end: -31px;
}