.card-price__list-item_not-support {
    transition: color 0.5s ease, opacity 0.5s ease;
}

.card-price:hover .card-price__list-item_not-support {
    color: $no-active-marker-color;
    opacity: 40%;
}