.accent-sector__container-bg {
    position: absolute;
    z-index: -1;
    inset-block: -3%;
    block-size: 106%;
    inline-size: 100%;
}

// кастыль (не бейте только)
@import './accent-sector__container-bg_sector-sponsors/accent-sector__container-bg_sector-sponsors.scss';