.accent-sector__container-text {
    position: sticky;
    inset-block-start: 50%;
    text-align: center;
    transform: scaleY(1.1) scaleX(1.45);
    opacity: 2%;
    text-transform: uppercase;
}
