@import './_blue/section-content__title_blue.scss';
@import './_black/section-content__title_black.scss';
@import './_white/section-content__title_white.scss';
@import './_underline-yellow/section-content__title_underline-yellow.scss';
@import './_underline-blue/section-content__title_underline-blue.scss';

.section-content__title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    position: relative;
    z-index: 0;
}

@media (width <= 1200px) {
    .section-content__title {
        text-align: center;
    }
}