.section-users-say__list-user-says {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 35px;
}

@media (width <= 1200px) {
    .section-users-say__list-user-says {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}