@import './__text-elements/section-content__text-elements.scss';
@import './__title/section-content__title.scss';
@import './__paragraph/section-content__paragraph.scss';

.section-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}