.footer__content {
    margin-inline: 10%;
    padding-block-start: 140px;
    padding-block-end: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 33px;
    color: #fff;
}