.page__back-img_full-screen {
    inset-block-start: 25%;
    background-image: url('./images/png/background-full-screen.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 545px;
    filter: saturate(300%);
    opacity: 50%;
}