// file variables

:root {
    // fonts
    --main-font-family: 'Inter', sans-serif;

    // Coloros
    --accent-color: rgba(79, 156, 249, 1);
    --background-color-images: rgba(196, 222, 253, 1);
}