@import './_not-support/card-price__list-item_not-support.scss';

.card-price:hover .card-price__list-item::before {
    transition: background-color 0.5s ease;
}

.card-price__list-item {
    position: relative;
    padding-inline-start: 35px;

    &::before {
        content: '';
        display: inline-block;
        inline-size: 20px;
        block-size: 20px;
        background-color: $no-active-marker-color;
        mask: url('./images/svg/status-list-icon.svg') no-repeat center;
        -webkit-mask: url('./images/svg/status-list-icon.svg') no-repeat center;
        background-size: contain;
        position: absolute;
        inset-inline-start: -3px;
        inset-block-start: -2px;
        transition: background-color 0.5s ease, transform 0.5s ease;
    }

    &:not(:last-child) {
        margin-block-end: 30px;
    }
}

.card-price:hover .card-price__list-item:not(.card-price__list-item_not-support)::before {
    background-color: $accent-color;
}

// КОСТЫЛЬ: вынужденная мера подключения файла внизу каскада / a forced measure of using such a file connection
@import './_additional-inset/card-price__list_additional-inset.scss';