.section-customise__section-content {
    inline-size: 50%;
    margin-block: 48px;
    justify-content: center;
}

@media (width <= 1200px) {
    .section-customise__section-content {
        inline-size: 100%;
    }
}