@import './_default/button__body_default.scss';
@import './_login/button__body_login.scss';
@import './_sector-free-btn/button_body_sector-free-btn.scss';
@import './_full-text/button__body_full-text.scss';
@import './_card-price-default/button_card-price-default.scss';

.button__body {
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: transform 0.5s ease,
        background-color 0.5s ease,
        color 0.5s ease,
        box-shadow 0.5s ease;

    &:hover {
        outline: none;
        border-color: $dark-accent-color;
        background-color: rgba(255, 228, 146, 1);
        transform: translateX(-12px) translateY(-22px);
        box-shadow: 1px 1px 0 $dark-accent-color, 1px 2px 0 #35a7ff, 2px 4px 1px #35a7ff,
            3px 6px 1px #35a7ff, 4px 8px 1px #50c878, 5px 8px 1px #50c878,
            6px 10px 0 #50c878, 7px 12px 1px #ffe74c, 8px 14px 1px #ffe74c,
            9px 16px 1px #ffe74c, 10px 18px 1px #ff5964, 11px 20px 1px #ff5964,
            12px 22px 0 #ff5964;
        transition: transform 0.5s ease,
            background-color 0.5s ease,
            color 0.5s ease,
            box-shadow 0.5s ease;
    }
}