.section-project-menagment__container-video {
    position: relative;
    display: flex;
    align-items: center;
    margin-block: 48px;
    inline-size: 50%;
    overflow: hidden;
}

@media (width <= 1200px) {
    .section-project-menagment__container-video {
        inline-size: 100%;
    }
}