.page__back-img_circie-work {
    inset-block-start: 412%;
    background-image: url('./images/png/circle-section-work.png');
    width: 502px;
    height: 761px;
}

@media (width <= 2560px) and (height <= 1080px) {
    .page__back-img_circie-work {
        inset-block-start: 73%;
    }
}

@media (width <= 2100px) and (height <= 1080px) {
    .page__back-img_circie-work {
        inset-block-start: 71%;
    }
}

@media (width <= 1920px) and (height <= 1080px) {
    .page__back-img_circie-work {
        inset-block-start: 71%;
    }
}

@media (width <= 1440px) and (height <= 1080px)  {
    .page__back-img_circie-work {
        inset-block-start: 71%;
    }
}