@import './_full-screen/page__back-img_full-screen.scss';

.page__back-img {
    position: absolute;
    z-index: -1;
    inset-block-start: 270px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}