@import './_full-screen/page__back-img_full-screen.scss';
@import './_circle/page__back-img_circie.scss';

.page__back-img {
    position: absolute;
    z-index: -2;
    background-repeat: no-repeat;
}