.section-content__card-price-list {
    margin-block: 63px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

@media (width <= 1200px) {
    .section-content__card-price-list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
    }
}