@import './_blue/section-content__paragraph_blue.scss';
@import './_white/section-content__paragraph_white.scss';

.section-content__paragraph {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(1.125rem, 1.1035rem + 0.0915vw, 1.25rem);
}

@media (width <= 1200px) {
    .section-content__paragraph {
        text-align: center;
    }
}