@import './__text-elements/section-favorite-apps__text-elements.scss';
@import './__section/section-favorite-apps__section.scss';
@import './__container-back-video/section-favorite-apps__container-back-video.scss';
@import './__content/section-favorite-apps__content.scss';
@import './__body-img/section-favorite-apps__body-img.scss';
@import './__section-content/section-favorite-apps__section-content.scss';

.section-favorite-apps {
    position: relative;
    z-index: 0;
}

// bg image styles

.container-svg {
    position: relative;
    block-size: 470px;
    inline-size: 582px;
}

.container-logo {
    position: absolute;
    inline-size: 220px;
    inset-block: 42%;
    z-index: 1;
    inset-inline: 39%;
}

.container-logo-content {
    position: absolute;
    inline-size: 220px;
    inset-block: 51%;
    z-index: 1;
    inset-inline: 44.9%;
}

.container-ellipse {
    position: absolute;
    display: flex;
    z-index: 0;
}

.container-ellipse-first {
    inset-inline-start: calc(100% - 81.5%);
    inset-block-start: calc(100% - 106%);
}

.container-ellipse-second {
    inset-inline-start: calc(100% - 95%);
    inset-block-start: calc(100% - 70%);
}

.container-ellipse-three {
    inset-inline-start: calc(100% - 67%);
    inset-block-start: calc(100% - 70%);
}